@model Cambridge.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Cambridge Exploration - Your Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section ng-controller="DashboardController">
    <h2>Your Dashboard</h2>
    
    <p>This Prospectus is password protected.  The password is: <b>CambridgeExploration2013</b> <i>(case sensitive)</i></p>
    
    @if (Model.PrespectiseUrls.Any())
    {
        <ul>
            @foreach (var files in Model.PrespectiseUrls)
            {
                <li><a href="@files.FileName" ng-model="PrespectiseUrl" target="_blank">Download Your Prospectus</a></li>
            }
        </ul>
    }
    else
    {
        <p>
            No Prospectus exists.
        </p>
    }
    
    <p>
        <a href="@Url.Action("Logout")">Log Out</a>
    </p>
</section>