<section ng-controller="ContactController">
    <h2>Contact Us</h2>

    <p>
        Please feel free to contact us with questions or concerns.
    </p>
    <p>
        All fields are <span class="required">required</span> unless otherwise noted.
    </p>

    <div class="success" ng-show="IsSent" ng-cloak>
        Your message has been sent successfully.  We will contact you soon.  Thank you!
    </div>

    <form novalidate name="contactForm" method="POST" ng-submit="Send()" ng-show="!IsSent">
        <fieldset>
            <legend>Contact Cambridge Exporation</legend>

            <div class="full-row">
                <div>
                    <label for="Name">Name:</label>
                    <input type="text" name="Name" id="Name" ng-model="Contact.Name" tabindex="1" required maxlength="50"
                           ng-class="{ 'error' : contactForm.Name.$invalid && !contactForm.Name.$pristine }" />
                </div>
                <div>
                    <label for="Email">Email:</label>
                    <input type="email" name="Email" id="Email" ng-model="Contact.Email" tabindex="2" required maxlength="50"
                           ng-class="{ 'error' : contactForm.Email.$invalid && !contactForm.Email.$pristine }" />
                </div>
            </div>

            <div class="full-row">
                <div>
                    <label for="Phone">Phone:</label>
                    <input type="text" name="Phone" id="Phone" ng-model="Contact.Phone" tabindex="3" required maxlength="50"
                           ng-class="{ 'error' : contactForm.Phone.$invalid && !contactForm.Phone.$pristine }" />
                </div>
                <div>
                    <label for="TimeToCall">Best time to call? <span class="optional">(optional)</span></label>
                    <select id="TimeToCall" name="TimeToCall" ng-model="Contact.TimeToCall" tabindex="4">
                        <option value="">-- Select one --</option>
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                    </select>
                </div>
            </div>
            <div class="full-row">
                <label for="Message">Message:</label>
                <textarea name="Message" id="Message" ng-model="Contact.Message" cols="120" rows="10" tabindex="5" maxlength="2000" required
                          ng-class="{ 'error' : contactForm.Message.$invalid && !contactForm.Message.$pristine }"></textarea>
            </div>
            <div class="full-row">
                <button type="submit" ng-disabled="contactForm.$invalid" tabindex="6" ng-class="{ 'disabled' :
                            contactForm.Name.$invalid && !contactForm.Name.$pristine
                            && contactForm.Email.$invalid && !contactForm.Email.$pristine
                            && contactForm.Phone.$invalid && !contactForm.Phone.$pristine
                            && contactForm.Message.$invalid && !contactForm.Message.$pristine
                            }">
                    Send
                </button>
            </div>
        </fieldset>
    </form>

</section>